#navigation {
    background: var(--bg1);
    color: var(--text-color1);
    @include flexCenter();

    font-size: 1.8rem;
    transition: 1s;

    ul {
        li {

            a {
                padding: 1rem 2rem;
                display: block;
                text-decoration: none;
                color: var(--text-color1);
                transition: .5s all ease-in-out;

                &:hover {
                    opacity: 0.7;
                    transform: translateX(10%);
                }
                
                .blink {
                    animation: blink 1s linear infinite;
                    animation: name duration timing-function delay iteration-count direction fill-mode;
                }
            }
        }
    }
}