/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
End Reset Styles
*/
html {
  --bg1: #182227;
  --bg2: #253238;
  --text-color1: #ccc;
  --text-color2: #808080;
  --white: #fff;
  --project-card: #364146;
  --header-height: 5rem;
  --hero-filter: grayscale(1);
  --border-rad: .4rem;
  font-size: 12px;
  font-family: 'Sora', sans-serif;
  font-weight: 200;
}

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  overflow: hidden;
}

#container #navigation {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  height: 100%;
  min-width: 0;
}

#container .content-section {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  height: 100%;
  overflow: hidden;
  height: 100vh;
}

#container .content-section header {
  height: var(--header-height);
}

#container .content-section main {
  height: calc(100vh - var(--header-height));
  overflow-y: scroll;
  scroll-behavior: smooth;
}

#container .content-section main .section {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  color: var(--text-color1);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 80rem;
  margin: 0 auto;
}

.content-section {
  background: var(--bg2);
}

.content-section .header {
  background: var(--bg1);
  color: var(--text-color1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 2rem;
}

.content-section .header .menu-icon {
  height: 4rem;
}

.content-section .header .hamburger {
  width: 4rem;
  height: 5rem;
  position: relative;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  overflow: hidden;
}

.content-section .header .hamburger div {
  height: .5rem;
  width: 100%;
  background: #fff;
  position: absolute;
  opacity: 1;
  -webkit-transition: .25s all ease-in-out;
  transition: .25s all ease-in-out;
  border-radius: var(--border-rad);
}

.content-section .header .hamburger div:nth-child(1) {
  top: 1rem;
}

.content-section .header .hamburger div:nth-child(2) {
  top: 2.2rem;
}

.content-section .header .hamburger div:nth-child(3) {
  top: 3.5rem;
}

.content-section .header .hamburger.open div:nth-child(1) {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  top: 2.2rem;
}

.content-section .header .hamburger.open div:nth-child(2) {
  left: -4rem;
  opacity: 0;
}

.content-section .header .hamburger.open div:nth-child(3) {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  top: 2.2rem;
}

.content-section .section.intro .hero-img {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 0px 3.2rem 0 black;
          box-shadow: 0 0px 3.2rem 0 black;
  backdrop-filter: blur(0.4rem);
  -webkit-backdrop-filter: blur(0.4rem);
  width: 25rem;
  height: 25rem;
  -webkit-animation: rotate 5s linear infinite;
          animation: rotate 5s linear infinite;
}

.content-section .section.intro .hero-img img {
  border-radius: 50%;
  width: 100%;
  -webkit-filter: var(--hero-filter);
          filter: var(--hero-filter);
}

.content-section .section.intro .contact-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
}

.content-section .section.intro .contact-links a {
  display: inline-block;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.content-section .section.intro .contact-links a img {
  width: 4rem;
  background: var(--white);
  margin-right: 1rem;
  border-radius: var(--border-rad);
  padding: .5rem;
}

.content-section .section.intro .contact-links a:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.content-section .section.skills .skills-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.content-section .section.skills .skills-images img.skill {
  height: 6rem;
  width: auto;
  max-width: 6rem;
  padding: 1rem;
  border-radius: var(--border-rad);
  background: var(--white);
  margin: 0.5rem;
}

.content-section .section.projects .projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.content-section .section.projects .projects-container .project-card {
  text-decoration: none;
  color: unset;
  background: var(--project-card);
  border-radius: var(--border-rad);
  width: 30rem;
  padding: 1rem;
  color: var(--text-color1);
  -webkit-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
  -webkit-box-shadow: 0 0px 3.2rem 0 black;
          box-shadow: 0 0px 3.2rem 0 black;
}

.content-section .section.projects .projects-container .project-card img {
  width: 100%;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.content-section .section.projects .projects-container .project-card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.content-section .section.contact {
  padding-bottom: 0 !important;
}

.content-section .section.contact .contacts-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-section .section.contact .contact-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
}

.content-section .section.contact .contact-links a {
  display: inline-block;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.content-section .section.contact .contact-links a img {
  width: 4rem;
  background: var(--white);
  margin-right: 1rem;
  border-radius: var(--border-rad);
  padding: .5rem;
}

.content-section .section.contact .contact-links a:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: .1rem;
}

h1 {
  font-size: 2.8rem;
  font-weight: 400;
  margin: 1rem 0;
  text-align: center;
}

h2 {
  font-size: 2.8rem;
  font-weight: 400;
  margin: 1rem 0;
}

h3 {
  font-size: 2.4rem;
  margin: 1rem 0;
}

p {
  font-size: 1.6rem;
  margin: 1rem 0;
  line-height: 2.4rem;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.animate-blink {
  -webkit-animation: blink 1s linear infinite;
          animation: blink 1s linear infinite;
  -webkit-animation: name duration timing-function delay iteration-count direction fill-mode;
          animation: name duration timing-function delay iteration-count direction fill-mode;
}

#navigation {
  background: var(--bg1);
  color: var(--text-color1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
  -webkit-transition: 1s;
  transition: 1s;
}

#navigation ul li a {
  padding: 1rem 2rem;
  display: block;
  text-decoration: none;
  color: var(--text-color1);
  -webkit-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
}

#navigation ul li a:hover {
  opacity: 0.7;
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
}

@media screen and (max-width: 768px) {
  html {
    font-size: 8px;
  }
}
/*# sourceMappingURL=styles.css.map */